<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Gameproject/static/assets/favicon.ico">
    <title>Click&See</title>

    
</head>
<body>
    <a href="login.html" id="inicio">Inicio</a>
    <img src="/Gameproject/static/assets/isologo-game.png" id="logo">
    <div id="Player" class="animate__animated animate__fadeInRight"></div>
    <div id="hp-bar" class="hpbars"></div>
    <div id="enemy-bar" class="hpbars"></div>
     
    <div id="combat-place">
        <div id="cont-turnos"></div>
        <p id="turnos"></p>
        <div id='hab-player'></div>
        <div id='hab-enem'></div>

    </div>
        <img src="/Gameproject/static/assets/swords.png" id="swords" class="animate__animated animate__backInDown"> 
        <div id="comenzar" class="animate__animated animate__fadeIn">
            
            <p id="btn-comenzar">COMENZAR</p>
        </div>
    </div>
    <div id="Enemy" class="animate__animated animate__fadeInLeft"></div>    
    
  

    <script src="/Gameproject/static/js/Login.js"></script>   
    <script src="/Gameproject/static/js/Personaje&enemigos.js"></script>
    
    <script src="/Gameproject/static/js/combate.js"></script>   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="/Gameproject/static/css/combate.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Suez+One&display=swap" rel="stylesheet">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"  rel="stylesheet">
   
</body>
</html>