<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Gameproject/static/css/Click&See.css">
    <link rel="icon" href="/Gameproject/images/favicon.ico">
    <title>Click&See</title>
</head>
<body>
<img src="/Gameproject/static/assets/wooden_sign.png"  id="sign">

    
    <a href="index.html" id="inicio">Inicio</a></li>
    <img src="/Gameproject/static/assets/isologo-game.png" id="logo"></li>
            
    </ul>
    

<!-- <audio controls autoplay preload="auto">
    <source src="tension.wav" type="audio/wav">
    
    </audio> -->
<div id="choose">
    <img src="/Gameproject/static/assets/wooden_sign.png"  id="sign2">
<form id="MoF">
    <input type="radio" name="gener0" id="masculino" checked>
    <label for="masculino"><img src="/Gameproject/static/assets/botones/men.png" class="genre"></label>
    <input type="radio" name="gener0" id="femenino">
    <label for="femenino"><img src="/Gameproject/static/assets/botones/woman.png" class="genre"></label>  
</form>
</div>
<ul class="selector">
<li id="smago">Mago</li>
<li id="sguerrero" >Guerrero</li>
<li id="sbardo">Bardo</li>
</ul>
<div id="showscreen"></div>
<div id="classDesc">
</div>
<img class="gameFlowbtn" src="/Gameproject/static/assets/botoncontinue.png">
<a class="gameFlow">Confirmar</a>
<!-- <img src="/Gameproject/images/cursor.png" class="cursor"> -->

<script src="/Gameproject/static/js/Personaje&enemigos.js"></script>
<script src="/Gameproject/static/js/Eventos.js"></script>
<script src="/Gameproject/static/js/Click&See.js"></script>
<script src="/Gameproject/static/js/sweetAlert.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@1,200&display=swap" rel="stylesheet">
</body>
</html>