<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Gameproject/static/css/Click&See.css">
    <link rel="icon" href="/Gameproject/images/favicon.ico">
    <title>Click&See</title>
</head>
<body>
   

    
    <a href="login.html" id="inicio">Inicio</a>
    <img src="/Gameproject/static/assets/isologo-game.png" id="logo">            
    

<div id="choose">    
    <img src="/Gameproject/static/assets/wooden_sign.png"  id="sign2">  
<form id="MoF">
    <input type="radio" name="gener0" id="masculino" checked>
    <label for="masculino"><img src="/Gameproject/static/assets/botones/men.png" class="genre"></label>
    <input type="radio" name="gener0" id="femenino">
    <label for="femenino"><img src="/Gameproject/static/assets/botones/woman.png" class="genre"></label>  
</form>
</div>
<ul class="selector">
<li id="smago"></li>
<li id="sguerrero" ></li>
<li id="sbardo"></li>
</ul>
<div id="showscreen"></div>
<div id="classDesc">
</div>

<div class="gameFlow" >Confirmar</div>

<script src="/Gameproject/static/js/Login.js"></script>
<script src="/Gameproject/static/js/Personaje&enemigos.js"></script>
<script src="/Gameproject/static/js/Click&See.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@1,200&display=swap" rel="stylesheet">
<link  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"  rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Suez+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</body>
</html>