<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11/lib/typed.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@1,200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Gameproject/static/css/introduccion.css">
    <link rel="icon" href="/Gameproject/images/favicon.ico">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"  rel="stylesheet">
    
    <title>Click&See</title>
</head>
<body>


  <a href="login.html" id="inicio">Inicio</a>
  <img src="/Gameproject/static/assets/isologo-game.png" id="logo">


<div id="habitantes1"></div>

<div id="papiro-relator"><div id="typewrite">Eres un aventurero solitario. Un día, recibes una carta de un comerciante de la ciudad de Tharion que te solicita tu ayuda para recuperar un objeto mágico robado de su tienda. El objeto es un medallón de oro antiguo y poderoso que puede conceder deseos a quien lo posea. El medallón fue robado por un grupo de ladrones que lo llevaron a una ciudad vecina llamada Xyron.
  Decides aceptar el trabajo y te diriges a Xyron, pero descubres que la ciudad está en cuarentena debido a una misteriosa plaga que ha matado a muchos de sus habitantes. Al llegar a las puertas de la ciudad, te encontraste con un par de guardias que te impidieron la entrada, ya que solo permitían el acceso a los médicos y curanderos que venían a tratar a los enfermos.
  Fue entonces cuando tuviste la idea de hacerles creer que eras un curandero. Reuniste algunas hierbas y ungüentos que encontraste por el camino, y con ellos intentaste convencer a los guardias de que eras un médico en busca de trabajo. Aunque al principio los guardias parecían escépticos, finalmente lograste convencerlos y te permitieron entrar en la ciudad.
  
  </div><div id="btncontinuar">Continuar</div></div>

<div id="habitantes2"></div>

</body>
<script src="/Gameproject/static/js/Login.js"></script>
<script src="/Gameproject/static/js/Personaje&enemigos.js"></script>
<script src="/Gameproject/static/js/Eventos.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/Gameproject/static/js/introduccion.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</html>