<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Gameproject/static/css/login.css">
    <link rel="icon" href="/Gameproject/images/favicon.ico">
    
    <title>Login</title>
</head>
<body>
    <img src="/Gameproject/static/assets/LoginSign.png" id="loginsign">
    <img src="/Gameproject/static/assets/board.png" id="board1">
    <img src="/Gameproject/static/assets/board.png" id="board2">
    <img src="/Gameproject/static/assets/botonlogin.png" id="btnlogin">
    <img src="/Gameproject/static/assets/botonregistrarse.png" id="btnregistrarse">
    <img src="/Gameproject/static/assets/botonconfirmar.png" id="botonconfirma">


    <img src="/Gameproject/static/assets/logo3.png" id="logo">
   
    
    <form id="form">
        <div class="form-group">
          <label class="textos" id="usuario">Usuario</label>            
          <input type="text" class="form-control border border-success" id="in-user" aria-describedby="emailHelp" placeholder="Ingrese usuario">
        </div>
          <div class="form-group">
            <label class="textos">Contraseña</label>
            <input type="password" class="form-control border border-success" id="in-pass" placeholder="Password">         
           </div>           
          </form>
        <a type='submit' id="login">LOGIN</a>  
        <a type='submit' id="registrarse">Registrarse</a>
          
  


</body>
<p id="me">by Adrian Pozzi</p>
<script src="/Gameproject/static/js/Login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>