* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
background-image: url(/Gameproject/images/background2.jpg);
background-size:cover;
background-repeat: no-repeat;
margin: 0;
padding: 0;
position: fixed;
}

.header {    
    display: inline-block;  
    background-image: url(images/bushes.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:10% ;
    background-color: white;
    display:flex;
    justify-content: center;
    width:100%;
   position: fixed;
   padding: 5px 10%;
    align-items: center;
}
#logo{
    background-image: url(/Gameproject/images/isologo-game.png);
    width: 30px;
    height: 20px;
}

#welcome {
    align-items: center;
    width: 5% 5%;
    
    margin-top: 12%;    
    margin-left: 600px;    
    border: none;
    
    position: relative;
background-color: white;}


#habilidades{
   
    margin-top: -65%;
    width: 300px;
    margin-left: 150px;
    position: absolute;
    background-color: white;
}
.selector{
    list-style: none;
    width: 1000px;
    height: 500px;
    margin-left: 50%;
    display: flex;
   
    padding-top: 5%;
    margin-bottom: 50 00px;
    
}

.selector li {
    display: inline-block;
    width: 100%;
    margin-right: 5%;
    

}


#smago{
    
    background-image: url(/Gameproject/images/wizard\ keeper.jpg);
    background-size: cover;
    border:  5px solid white;
    
}
#smago:hover{  
    border:  5px solid blue;
}

#sguerrero{
    
    background-image: url(/Gameproject/images/warrior\ keeper.jpg);
    background-size: cover;
    border:  5px solid white;
}

#sguerrero:hover{  
    border:  5px solid blue;
}

#sbardo{
    background-image: url(/Gameproject/images/bard\ keeper.jpg);
    background-size: cover;
    border:  5px solid white;
}

#sbardo:hover{  
    border:  5px solid blue;
}

#classDesc{
margin-left: 80%;
margin-top: 3%;
width: 300px;
align-items: center;
background-color: white;
}

.gameFlow{
    margin-left: 93%;
    margin-top: 5%;
    
}



#beggining{
    background-image: url(images/papiro.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    position:relative;
    margin-left: 100%;
    margin-top: 20%;
    width: 600px;
    height: 500px;
    padding: 10%
    ;
}