* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
 
background-image: url(/Gameproject/images/combat.jpg);
background-size:cover;
background-repeat: no-repeat;
position: absolute;
}

#combat-place{
    background-image: url(/Gameproject/images/white\ papyrus.jpg);
    background-size:cover;
    display: absolute;
    border-radius: 5%;
    width: 800px;
    height: 600px;   
    margin-left: 75%;
    margin-top: -73%; 
   
}

#Player{
    background-image: url(/Gameproject/static/assets/a\ wizard.jpg);
    background-size:cover;    
   display: block;
    width: 400px;
    height: 600px;
    margin-left: 10%;
    margin-top: 20%;
    border-radius: 5%;    
    padding-top:1%;   
}
#Enemy{
    background-image: url(/Gameproject/static/assets/skeletal_enemy.jpg);
    background-size:cover;
    background-position: 20%;    
   display: block;
    width: 400px;
    height: 600px;
    margin-left: 185%;
    margin-top: -76%;
    border-radius: 5%;    
    padding-top:1%;   
    
}

#turnos{
    padding-left: 48%;
    padding-top: 5%;
}
#hab-player{
    padding-top: 10%;
    padding-left: 10%;
    margin-right: 0%;
    display: relative;
  list-style-type: none;  
  
}

#hab-player li {
    margin-top: 10%;
}

#hab-enem{
    padding-top: -10%;
    padding-left: 80%;    
    margin-right: -20%; 
    display: relative;
  list-style-type: none;  
  
}

#hab-enem li {
    margin-top: 10%;
}

#comenzar{
    position: relative;
    padding-left: 108%;
    padding-top:-10%;
}
#btn-comenzar{
    width: 250px;
    height: 100px;
}

#swords{
    position: fixed;
    width: 275px;
    margin-left: 45%;
    margin-top: -25%;
}

#hab1{
    color: white;
}

#hab2{
    color:blue
}

.hab-group{
    margin-top: 10%;
}

#onodmg {
    background-image: url(/Gameproject/static/assets/dmgono.png);
    width: 200px;
    height: 200px;
    margin-top: 55%;
    margin-left: 25%;
}
#dmg{
    color: white;
    margin-left: 41%;
    margin-top: -45%;
    font-family: 'League Gothic', sans-serif;
    font-size:700%;
    -webkit-text-stroke: 2px black;

}