* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Righteous', cursive;
   
   
}

body{
 
background-image: url(/Gameproject/images/combat.jpg);
background-size:cover;
background-repeat: no-repeat;
position: absolute;
}

#combat-place{
    background-image: url(/Gameproject/static/assets/white\ papyrus.jpg);
    background-size:cover;
    display: absolute;
    border-radius: 5%;
    width: 800px;
    height: 600px;   
    margin-left: 75%;
    margin-top: -73%; 
   
}

#Player{
    background-image: url(/Gameproject/static/assets/skeletal_enemy.jpg);
    background-size:cover;    
   display: block;
    width: 400px;
    height: 600px;
    margin-left: 10%;
    margin-top: 15%;
    border-radius: 5%;    
    padding-top:1%;   
}
#Enemy{
    background-image: url(/Gameproject/static/assets/skeletal_enemy.jpg);
    background-size:cover;
    background-position: 20%;    
   display: block;
    width: 400px;
    height: 600px;
    margin-left: 185%;
    margin-top: -77%;
    border-radius: 5%;    
    padding-top:1%;   
    
}

#turnos{
    padding-left: 40%;
    padding-top: 5%;
    font-family: 'Righteous', cursive;
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 50px;
}
#hab-player{
    padding-top: 5%;
    padding-left: 10%;
    margin-right: 0%;
    display: relative;
  list-style-type: none;  
  
}

#hab-player li {
    margin-top: 10%;
}

#hab-enem{
    padding-top: -20%;
    padding-left: 80%;  
    display: relative;
    list-style-type: none;  
    margin-top: -40%;
  
}


#comenzar{
    position: relative;
    padding-left: 108%;
    padding-top:-10%;
}
#btn-comenzar{
    background-image: url("/Gameproject/static/assets/comenzar.png");
    background-size: contain;
    width: 250px;
    height: 100px;
    position: fixed;
    margin-top: -65px;
    padding-left:55px;
    padding-top: 47px;
    font-size: 25px;
    color: white;
    -webkit-text-stroke: 1.5px black;

}

#btn-comenzar:hover{
    color: rgb(154, 63, 154)
}



#swords{
    
    position: fixed;
    width: 275px;
    margin-left: 45%;
    margin-top: -22.5%;
}


.hab-group{
    margin-top: 2%;
    background-image: url(/Gameproject/static/assets/hpbar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    padding-left: 40px;
    padding-top: 25px;
    font-size: 20px;
    margin-left: -20px;
    font-family: 'Righteous', cursive;
    color: white;
    -webkit-text-stroke: 0.8px black
    
    
   
}
.hab-enem_group{
    
    background-image: url(/Gameproject/static/assets/hpbar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    padding-left: 40px;
    padding-top: 25px;
    font-size: 20px;
    margin-left: -80px;
    font-family: 'Righteous', cursive;
    color: white;
    -webkit-text-stroke: 0.8px black  
}

#hab1:hover {
    color: rgb(154, 63, 154);
    -webkit-text-stroke: 0.5px black;
}

#hab2:hover {
    color: rgb(154, 63, 154);
    -webkit-text-stroke: 0.5px black;
}

#hab3:hover {
    color: rgb(154, 63, 154);
    -webkit-text-stroke: 0.5px black;
}


#onodmg {
    background-image: url(/Gameproject/static/assets/dmgono.png);
    width: 200px;
    height: 200px;
    margin-top: 55%;
    margin-left: 25%;
}
#dmg{
    color: white;
    margin-left: 41%;
    margin-top: -45%;
    font-family: 'League Gothic', sans-serif;
    font-size:700%;
    -webkit-text-stroke: 2px black;
}
.hpbars{
    background-image: url(/Gameproject/static/assets/hpbar2.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Righteous', cursive;
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 40px;
    width: 260px;
    height:200px;   
    padding-left: 110px;
    padding-top:40px;
    position: fixed;
    margin-top: 10px;
}

#hp-bar{
    margin-left: 132px;

}

#enemy-bar{
    margin-left: 1530px;
}

#loser{
width:200px;
height:200px
}